extends ./../layout

block content
  h1
    | App:&nbsp;
    = app.get('name')
  h3
    | API Key:&nbsp;
    br
    pre
      code= app.get('api_key')
  a(href='./' + app.get('id') + '/regenerate') Regenerate API key &raquo;
  h3 OneSignal Players:
  ul.players(data-api-key="#{ app.get('api_key') }")
    | Loading...
  p: a(href='./' + app.get('id') + '/destroy') Destroy app
  p: a(href='./') &laquo; All apps
