extends ./../layout

block content
  h1
    | App:&nbsp;
    = app.get('name')
  h3
    | API Key:&nbsp;
    = app.get('api_key')
  h3 OneSignal Players:
  ul.players
    | Loading...
  p: a(href='./' + app.get('id') + '/destroy') Destroy
  p: a(href='./') &laquo; All apps
