extends layout

block content
  h1= title
  p Welcome to #{title}
  p: a(href="https://github.com/herrd/herrd-push-server") GitHub Repo &raquo;
  if current_user
    p: a(href="/apps") Apps &raquo;
    p: a(href="/auth/signup") Create account &raquo;
