doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p(style="color: red")= flash
    block content
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/javascripts/main.js')
