doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p(style="color: red")= flash
    block content
    hr
    if current_user
      p
        | Welcome back, #{current_user.get("username")}.
      p: a(href="/auth/logout") Logout &raquo;
    else
      p You aren't logged in.
      p: a(href="/auth/login") Login &raquo;

    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/javascripts/main.js')
